 <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4"> 
                        <a routerLink="/" class="nav-item nav-link" [class.active]="isActiveRoute('/')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                        <a routerLink="/about-us" class="nav-item nav-link" [class.active]="isActiveRoute('about-us')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">About</a>
                        <a routerLink="/service" class="nav-item nav-link" [class.active]="isActiveRoute('service')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Service</a> 
                        <a routerLink="/menu" class="nav-item nav-link" [class.active]="isActiveRoute('menu')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Menu</a> 
                        <!-- <a href="menu.html" class="nav-item nav-link">Menu</a> -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0"> 
                                <a routerLink="/reservation" class="dropdown-item" [class.active]="isActiveRoute('reservation')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Booking</a>  
                                <a routerLink="/team" class="dropdown-item" [class.active]="isActiveRoute('team')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Our Team</a> 
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div>
                        <a routerLink="/contacts" class="nav-item nav-link" [class.active]="isActiveRoute('contacts')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Contact</a>  
                    </div> 
                    <a routerLink="/reservation" class="btn btn-primary py-2 px-4" [class.active]="isActiveRoute('reservation')" [routerLinkActive]="['activebutton']" [routerLinkActiveOptions]="{ exact: true }">Book A Table</a> 
                </div>
            </nav>

            <div *ngIf="isHome();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="../../assets/img/hero.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           

            <div *ngIf="isAboutPage();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                  <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Pages</a></li>
                      <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                  </nav>
                </div>
              </div>              
            </div>

            <div *ngIf="isServices();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div *ngIf="isMenu();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Menu</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div *ngIf="isReservation();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div *ngIf="isTeam();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Our Team</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Our Team</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div *ngIf="isContacts();" class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contacts</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contacts</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
                 
        <!-- Navbar & Hero End -->